<p>
  <mat-toolbar color="primary">
    <span>Muhammad Aiman Hakim bin Azahari - Technical Test</span>
  </mat-toolbar>
</p>

<div>
  <mat-card class="example-card">
    <form (ngSubmit)="convertLetter()">
      <label for="inputField">Enter the letter:</label><br>
      <input type="text" id="inputField" name="inputField" [(ngModel)]="inputText"><br>
      <button type="submit">Convert</button>
    </form>
  </mat-card>
  <mat-card class="example-card" *ngIf="convertedText !== ''">
    <p><strong>Converted Text:</strong></p>
    <p>{{ convertedText }}</p>
  </mat-card>
</div>

<div>
  <mat-card class="example-card">
    <form (ngSubmit)="checkWordPresent()">
      <label for="firstWord">Enter the first word:</label><br>
      <input type="text" id="firstWord" name="firstWord" [(ngModel)]="firstWord"><br>
      <label for="secondWord">Enter the second word:</label><br>
      <input type="text" id="secondWord" name="secondWord" [(ngModel)]="secondWord"><br>
      <button type="submit">Check</button>
    </form>
  </mat-card>

  <mat-card class="example-card" *ngIf="wordPresentOutput !== ''">
    <p><strong>The words in letter 2 contain in letter 1:</strong></p>
    <p>{{ wordPresentOutput }}</p>
  </mat-card>
</div>

<div>
  <mat-card class="example-card">
    <form (ngSubmit)="calculateTriangle()">
      <label for="triangleNumber">Enter the number:</label><br>
      <input type="number" id="triangleNumber" name="triangleNumber" [(ngModel)]="triangleNumber"><br>
      <button type="submit">Calculate</button>
    </form>
  </mat-card>

  <mat-card class="example-card" *ngIf="triangleOutput !== ''">
    <p><strong>Number of Triangle:</strong></p>
    <p>{{ triangleOutput }}</p>
  </mat-card>
</div>